@tailwind base;
@tailwind components;
@tailwind utilities;

.rvo-theme {
  background-color: var(--utrecht-document-background-color);
  color: var(--utrecht-document-color);
  font-family: var(--utrecht-document-font-family);
  font-size: var(--utrecht-document-font-size);
  font-weight: var(--utrecht-document-font-weight);
  line-height: var(--utrecht-document-line-height);
}

.progress-tracker-font {
  color: var(--rvo-color-hemelblauw);
  font-weight: bold;
}

#progress-question-mobile {
    @media only screen and (width <= 800px) {
        display: flex;
        align-items: center;
    }
}
